## output of wgan
WGAN/output/

### pycache 
WGAN/models/__pycache__/

## cache
.cache/

## other unrelated stuff
WGAN/.bash_history
WGAN/MPI/
WGAN/data/

## reco
Reconstruction/*.root
Reconstruction/*.slcio
Reconstruction/ILDConfig/

